.table-heading{
    display: flex;
    justify-content: space-between;
}
.table-cells {
    display: flex;
    justify-content: space-between;
}
 tr{
    display: flex;
    justify-content: space-between;
    padding-top: 0.25rem;
}
 td , th{
    padding: 0 !important;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
}
 thead tr{
    padding: 0 0.15rem;
    padding-bottom: 0.25rem;
}
.HomeOnPageSeoAudit-main .Polaris-IndexTable__Table--sticky .Polaris-IndexTable__TableHeading--second.Polaris-IndexTable__TableHeading--unselectable {
    width: 10rem;
}
.HomeOnPageSeoAudit-main .Polaris-IndexTable__Table--unselectable.Polaris-IndexTable__Table--sticky .Polaris-IndexTable__TableCell:first-child{
width: 10rem;
display: flex;
justify-content: start;
}