.table-heading{
    display: flex;
    justify-content: space-between;
}
.table-cells {
    display: flex;
    justify-content: space-between;
}
 tr{
    display: flex;
    justify-content: space-between;
    padding-top: 0.25rem;
}
 td , th{
    padding: 0 !important;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
}
 thead tr{
    padding: 0 0.15rem;
    padding-bottom: 0.25rem;
}
